
/* font */

$f-main:        'Averta Demo PE Cutted Demo', sans-serif;

/* colors */

$c-main:            #000000;
$c-secondary:       #565656;
$c-text:            #757575;
$c-main-button:     #2639ED;


/* mixins */

@mixin d-flex($align-item: center, $justify-content: space-between) {
    display: flex;
    align-items: $align-item;
    justify-content: $justify-content;
  }


@mixin pseudo($display: block, $pos: absolute, $content: ''){
   content: $content;
   display: $display;
   position: $pos;
 }


// xs = 40px;
// sm = 60px
// md = 50%

@mixin border-radius($radius: xs) {
  @if $radius == xs {
    border-radius: 40px;
  } @else if $radius == sm {
    border-radius: 60px;
  } @else if $radius == md {
    border-radius: 50%;
  } @else {
    border-radius: $radius;
  }
}

// @mixin position($position, $top: inherit, $right: inherit, $bottom: inherit, $left: inherit) {
//   position: $position;
//   top: $top;
//   right: $right;
//   bottom: $bottom;
//   left: $left;
// }